//colors
$white: #fff;
$black: #454546;

$darkBlue: #060b17;
$blue: #191d2a;
$nightBlue: #1e2333;
$lightBlue: #2f3547;
$grayBlue: #949AAC;

$blueSteel: #3e86b0;
$blueSea: #0c989f;

$purple: #7b4fc1;
$purpleRed: #aa3c78;
$orange: #d5743b;

$submenuFontColor: $grayBlue;
$borderColor: #3e414c;