@import './_colors';
//variables

//style font size
$smallFontSize: 14px;
$mediumFontSize: 16px;
$bigFontSize: 18px;

//default body style
$defaultFontFamily: sans-serif;
$defaultFontSize: $mediumFontSize;
$defaultFontColor: $white;
$defaultBgColor: $darkBlue;